<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQg-M7qS5rUEu2GcrAslexTDpkj7bFNGP1koA&usqp=CAU" 
        alt="" 
        srcset=""
        
       
        >
       

    </div>
    <div class="big-card__title">
     <h1><a href="#"> Saiu nova versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
     <p>Bla BlaBLaBLa BLaBLABLABLaBLABLABLABLaBLABLA BLLA BLaBLABLABLaBLABLABLABLaBLABLA 
        bla bLA BLA BLaBLABLABLaBLABLABLABLaBLABLA BLaBLABLABLaBLABLABLABLaBLABLA
     </p>
    </div>  